@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.body {
    background: gainsboro
}

.navbar {
    background: white
}

.navbar-top {
    background: lightseagreen
}

.text-center {
    color: lightseagreen
}

.content {
    background: gainsboro
}

.summary-content {
    background: white
}

.summary-title {
    color: lightseagreen
}

.visualization-content {
    background: white
}

.visualization-text {
    color: lightseagreen
}

.fixed-bottom {
    border-top-color: lightseagreen
}

.graph {
    @include media-breakpoint-up(sm) {
        border-top: 1px solid black
    }
}