@media (max-width: 992px) {
    button.navbar-toggler{
        border:1px solid white;
        color: white
    }
}

.body {
    background: gainsboro
}

@media (max-width: 992px) {
    .navbar-top {
        background-color: lightseagreen!important
    }
}

@media (min-width: 992px) {
    .navbar {
        background: white
    }
}

.navbar-brand { 
    background-color: lightseagreen!important
} 

.text-center {
    color: lightseagreen
}

.content {
    background: gainsboro
}

.summary-content {
    background: white
}

.summary-title {
    color: lightseagreen
}

.visualization-content {
    background: white
}

.visualization-text {
    color: lightseagreen
}

@media (max-width: 768px) {
    .space {
        border-top: 1px solid lightgray;
        padding: 2em
    }
}

.table {
    overflow-x: auto;
    display: inline-block
}

.fixed-bottom {
    border-top: 10px solid lightseagreen!important;
}

.navbar-collapse {
    background-color:white
}