.body {
    background: gainsboro
}

.navbar {
    background: white
}

.navbar-top {
    background: lightseagreen
}

.text-center {
    color: lightseagreen
}

.content {
    background: gainsboro
}

.summary-content {
    background: white
}

.summary-title {
    color: lightseagreen
}

.visualization-content {
    background: white
}

.visualization-text {
    color: lightseagreen
}

@media (max-width: 768px) {
    .space {
        border-top: 1px solid lightgray;
        padding: 2em
    }
}

.table {
    overflow-x: auto;
    display: inline-block
}

.fixed-bottom {
    border-top: 10px solid lightseagreen!important;
}